@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Luckiest+Guy&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'); */

body, html {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #2365c5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Luckiest Guy', cursive;
  background: url(../images/bg.jpg);
}


.img-fluid {
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1400px;
  height: 750px;
  border-radius: 120px;
  overflow: hidden;
  background: #ffedad;
  /* background-image: linear-gradient(to bottom, #ffedad 70%, #e7c554 100%); */
  box-shadow: 0 0 0 10px #f4d64a,
  6px 10px 0 10px #d38d00,
  -6px 10px 0 10px #d38d00,
  0px 0px 30px 10px #0a3375,
  inset 0px 0px 0px 8px #d58901,
  inset 0px -30px 80px 15px rgba(255, 225, 91, 0.8);
  margin: 0 30px;
  position: relative;
}

/* .container::before {
  content: '';
  width: calc(100% - 30px);
  height: calc(100% - 200px);
  position: absolute;
  border-radius: 120px;
  background: #ffe681;
  opacity: .5;
  border-radius: 60% 60% 112px 113px;
  top: 150px;
} */

.text{
  position: absolute;
  font-size: 5rem;
  font-family: 'Dela Gothic One', cursive;
  letter-spacing: .1em;
  transform: scaleY(1.2);
  z-index: 99;
  color:#fff;
  -webkit-text-stroke: 2px #000;
  text-shadow: 
  2px 0px 0px #000,
  2px 1px 0px #000;
  display: none;
}

.text.show{
  animation: shock .1s 5;
  display: block;
}

.input-group .notice.show.shock {
  animation: shock .1s 5;
}

@keyframes shock {
  0% {
    margin-top: 0px;
    margin-right: 0px;
  }

  25% {
    margin-top: -10px;
    margin-right: 10;
  }

  50% {
    margin-right: 10px;
    margin-top: 10px;
  }

  75% {
    margin-right: -10px;
    margin-top: -10px;
  }

  100% {
    margin-top: 0;
    margin-right: 0;
  }
}

.playerList, .playerBtnList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 3;
  width: 1300px;
  /* position: relative; */
}


.player {
  width: 12.5%;
  animation: fadeIn 1s forwards ease-in-out;
  margin-top: -50px;
    opacity: 0;
}

@keyframes fadeIn {
  0%{
    margin-top: -50px;
    opacity: 0;
  }
  100%{
    margin-top: 0;
    opacity: 1;
  }
}

.player .pic{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
}

.player .pic:hover,
.player .pic.click{
  border: 4px solid #000;
  box-sizing: border-box;
}

.player .point {
  background: #000;
  margin: auto;
  margin-top: 30px;
  border-radius: 50%;
  display: block;
}

.player img {
  cursor: pointer;
}

.player .pic.disabled,
.player img.disabled,
.btn button.disabled {
  /* cursor: default; */
}

.playerBtnList .btn{
  animation: fadeIn2 .8s forwards ease-in-out;
  margin-bottom: -50px;
  opacity: 0;
}


@keyframes fadeIn2 {
  0%{
    margin-bottom: -50px;
    opacity: 0;
  }
  100%{
    margin-bottom: 0;
    opacity: 1;
  }
}

.playerBtnList .btn {
  width: 12.5%;
}

.playerBtnList .btn .point {
  margin: auto;
  margin-bottom: 10px;
  background: #000;
  border-radius: 50%;
  display: block;
}

.playerBtnList .btn button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background: transparent;
  font-family: 'Luckiest Guy', cursive;
  border: 0;
  font-size: 1.6rem;
  color:#fff;
  -webkit-text-stroke: 1.5px #000;
  text-shadow: 
  1px 0px 0px #000,
  2px 1px 0px #000
   ;
}

.playerBtnList .btn button:hover,
.playerBtnList .btn button.click{
  color:#000;
  -webkit-text-stroke: 1.5px #fff;
  text-shadow: 
  1px 0px 0px #fff,
  2px 1px 0px #fff
   ;
}



svg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.stroke {
  stroke-dasharray: 150%;
  stroke-dashoffset: 150%;
  width: 100%;
  height: 100%;
  stroke: rgb(82, 55, 19);
  animation: circle-draw0 .5s linear 1;
  animation-fill-mode: forwards;
}


@keyframes circle-draw0 {
  0% {
    stroke-dashoffset: 150%;
  }

  100% {
    stroke-dashoffset: 0%;
  }
}

.stroke.green {
  stroke: green;
}


.stroke.red {
  stroke: red;
}




.btn-group{
  /* outline: 1px solid #000; */
  z-index: 9;
}

.btn-finish,
.btn-back,
.btn-restart {
  /* font-family: 'Dela Gothic One', cursive; */
  font-size: 2rem;
  padding: 10px 20px;
  border: 5px solid #d38d00;
  margin: 30px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 
  3px 3px 0px 0px #8d6007,
  0px 0px 20px 10px #164999;
  text-align: center;
  background: #fff;
  background-image: linear-gradient(170deg, #ffedad 40%, #f2ca46 100%);
}

.btn-finish:hover ,
.btn-back:hover ,
.btn-restart:hover {
  position: relative;
  top: 3px;
  left: 3px;
  box-shadow: 0px 0px 0px 0px #d38d00,
  0px 0px 20px 10px #164999;
}